.Rproj.user
.Rhistory
.RData
.Ruserdata
data/2022_peru-ingresantes.csv
data/2022_peru-postulantes.csv
data/2023_peru-ingresantes.csv
data/2023_peru-postulantes.csv
analysis_results.docx
analysis_results.Rmd
doc/informe.docx
doc/presentacion_tesis_old.pptx
output*
